.vs/Stone.Rate/v15/Server/sqlite3/storage.ide-wal
.vs/Stone.Rate/v15/Server/sqlite3/storage.ide-shm
.vs/Stone.Rate/v15/Server/sqlite3/storage.ide
.vs/Stone.Rate/v15/Server/sqlite3/db.lock
Stone.Rate.Application/obj/project.assets.json
Stone.Rate.Application/obj/Stone.Rate.Application.csproj.nuget.g.targets
Stone.Rate.Application/obj/Stone.Rate.Application.csproj.nuget.g.props
Stone.Rate.Application/obj/Debug/netstandard2.0/Stone.Rate.Application.AssemblyInfo.cs
Stone.Rate.DependencyInjection/obj/project.assets.json
Stone.Rate.DependencyInjection/obj/Stone.Rate.DependencyInjection.csproj.nuget.g.targets
Stone.Rate.DependencyInjection/obj/Stone.Rate.DependencyInjection.csproj.nuget.g.props
Stone.Rate.DependencyInjection/obj/Debug/netstandard2.0/Stone.Rate.DependencyInjection.AssemblyInfo.cs
Stone.Rate.Domain/obj/project.assets.json
Stone.Rate.Domain/obj/Stone.Rate.Domain.csproj.nuget.g.targets
Stone.Rate.Domain/obj/Stone.Rate.Domain.csproj.nuget.g.props
Stone.Rate.Domain/obj/Debug/netstandard2.0/Stone.Rate.Domain.AssemblyInfo.cs
Stone.Rate.Messages/obj/project.assets.json
Stone.Rate.Messages/obj/Stone.Rate.Messages.csproj.nuget.g.targets
Stone.Rate.Messages/obj/Stone.Rate.Messages.csproj.nuget.g.props
Stone.Rate.Messages/obj/Debug/netstandard2.0/Stone.Rate.Messages.AssemblyInfo.cs
Stone.Rate.Provider/obj/project.assets.json
Stone.Rate.Provider/obj/Stone.Rate.ServiceProvider.csproj.nuget.g.targets
Stone.Rate.Provider/obj/Stone.Rate.ServiceProvider.csproj.nuget.g.props
Stone.Rate.Provider/obj/Stone.Rate.Provider.csproj.nuget.g.targets
Stone.Rate.Provider/obj/Stone.Rate.Provider.csproj.nuget.g.props
Stone.Rate.Provider/obj/Debug/netstandard2.0/Stone.Rate.ServiceProvider.AssemblyInfo.cs
Stone.Rate.Provider/obj/Debug/netstandard2.0/Stone.Rate.Provider.AssemblyInfo.cs
Stone.Rating/obj/project.assets.json
Stone.Rating/obj/Stone.Rating.csproj.nuget.g.targets
Stone.Rating/obj/Stone.Rating.csproj.nuget.g.props
Stone.Rating/obj/Stone.Rate.WebApi.csproj.nuget.g.targets
Stone.Rating/obj/Stone.Rate.WebApi.csproj.nuget.g.props
Stone.Rating/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Stone.Rating/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Stone.Rating/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Stone.Rating/obj/Debug/netcoreapp2.1/Stone.Rating.RazorAssemblyInfo.cs
Stone.Rating/obj/Debug/netcoreapp2.1/Stone.Rating.AssemblyInfo.cs
Stone.Rating/obj/Debug/netcoreapp2.1/Stone.Rate.WebApi.RazorAssemblyInfo.cs
Stone.Rating/obj/Debug/netcoreapp2.1/Stone.Rate.WebApi.AssemblyInfo.cs
